[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flask = "*"
azure-cosmos = "*"
scrapy = "*"
pillow = "*"
requests = "~=2.21.0"
pyinstaller = "*"
setuptools = "*"
toml = "*"

[requires]
python_version = "3.8"

[packages]
pyinstaller = "*"
